plugins/all-in-one-wp-migration/
plugins/first-block/node_modules/
themes/hansen/
themes/twentytwenty/
themes/twentytwentytwo/
themes/fse/node_modules/
_video-series-resources/
uploads/
uprgrade/
fonts/
languages/
ai1wm-backups
video-series-resources/