
/* SASS and Global'ish Stuff */
@import "base/variables";

/* BEM Blocks */
.our-placeholder-block {
    background: #ccc;
    padding:20px;
    border:2px solid black;
    border-radius: 10px;;
    margin: 20px 0;
}
.site-header{
    color: #f15025;
    font-size: 32px;
    background: linen;
}
.site-footer{
    color: #fff;
    font-size: 32px;
    background: rgb(60, 58, 58)
}
.site-banner{
    color: #ffa500;
    font-size: 32px;
    background: rgb(202, 202, 187);
}